/* css for not found */
.not-found {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.466)),
    url("https://i.ibb.co/w43Fp6b/slider1.jpg");
  width: 100%;
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
